<MudText Typo="Typo.h4" Class="section-title" Color="Color.Primary">
    About Me
</MudText>
<MudText>
    <p>
        As a software developer at Gratte Brothers Group, I create and maintain high-quality web and mobile applications using the latest technologies and best practices.<br /><br />
        My current projects involve using Blazor Server and .NET MAUI to build cross-platform solutions that are secure, scalable, and user-friendly.<br /><br />
        I also drive continuous integration and deployment (CI/CD) using Azure DevOps, and provide support and guidance to junior and apprentice developers.<br /><br />
        I am passionate about delivering reliable, maintainable, and efficient solutions that meet the needs and expectations of clients and users.
    </p>
</MudText>